/*** 

====================================================================
		About Section
====================================================================

***/

.about-section {
    position: relative;
    padding: 120px 0 0px;

    &:before {
        position: absolute;
        left: 0;
        top: 30px;
        bottom: 0;
        max-width: 560px;
        background-image: url(../images/icons/pattern-4-dark.png);
        width: 100%;
        content: "";
    }

    &:after {
        position: absolute;
        right: 0;
        top: 30px;
        height: 480px;
        width: 480px;
        border-radius: 0 0 0 500px;
        background-color: var(--bg-theme-color3);
        content: "";
    }
}

.about-section .content-column {
    position: relative;
    margin-bottom: 35px;
    z-index: 1;

    .inner-column {
        position: relative;
    }

    .sec-title {
        margin-bottom: 40px;
    }

    .content-box {
        position: relative;
        padding-right: 200px;
    }

    .info-box {
        position: absolute;
        right: 0;
        top: 0;
        padding: 30px 30px;
        max-width: 170px;
        background-color: var(--bg-theme-color3);
        border-top: 7px solid var(--border-theme-color2);
        transition: all 300ms ease;

        &:hover {
            box-shadow: 0 10px 40px rgba(0, 0, 0, .10);
            background-color: #ffffff;
        }

        .title {
            font-size: 20px;
            line-height: 26px;
            font-weight: 700;
            display: block;
            margin-bottom: 30px;
        }

        .read-more {
            font-size: 12px;
            line-height: 30px;
            color: #808287;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            letter-spacing: .1em;
            transition: all 100ms linear;

            i {
                margin-left: 10px;
                color: var(--theme-color2);
                font-size: 16px;
                transition: all 100ms linear;
            }

            &:hover {
                color: var(--theme-color2);

                i {
                    transform: translateX(-15px);
                    opacity: 0;
                }
            }
        }
    }

    .btm-box {
        margin-top: 10px;
    }
}

/* About Block */

.about-block {
    position: relative;
    padding-left: 85px;
    min-height: 120px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e6e8ed;
    margin-bottom: 30px;

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .icon {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 64px;
        color: var(--theme-color2);
        transition: all 300ms ease;
    }

    &:hover .icon {
        color: var(--theme-color1);
        transform: rotateY(-190deg);
    }

    .title {
        position: relative;
        top: -3px;
        margin-bottom: 10px;
    }

    .text {
        margin-top: 5px;
    }
}

.about-section .image-column {
    position: relative;
    margin-bottom: 35px;

    .inner-column {
        position: relative;
        padding-right: 70px;
        margin-left: -105px;
    }

    .image-1 {
        position: relative;
        max-width: 400px;
        margin-bottom: 0px;

        &:before {
            position: absolute;
            right: -40px;
            top: 0;
            height: 110px;
            width: 20px;
            background-color: var(--bg-theme-color2);
            content: "";
        }

        img {
            width: 100%;
        }
    }

    .image-2 {
        position: absolute;
        right: 75px;
        bottom: 0;
        margin-bottom: 0;

        &:before {
            position: absolute;
            right: 0;
            top: 0;
            height: 100px;
            width: 70px;
            background-image: url(../images/icons/shape-2.png);
            content: "";
        }

        img {
            width: 100%;
            max-width: 300px;
        }
    }
}

.about-section .experience {
    position: absolute;
    bottom: -70px;
    left: 160px;
    min-width: 290px;
    background: #ffffff;
    padding: 20px 20px 20px 120px;
    font-size: 18px;
    line-height: 26px;
    color: var(--theme-color1);
    box-shadow: 0 15px 60px rgba(0, 0, 0, .08);
    min-height: 120px;

    .icon {
        position: absolute;
        left: 20px;
        top: 20px;
        height: 80px;
        width: 80px;
    }

    strong {
        position: relative;
        margin-top: 7px;
        font-size: 34px;
        line-height: 36px;
        color: var(--theme-color2);
        font-weight: 700;
        display: block;
    }
}



/*** 

====================================================================
		About Section Two
====================================================================

***/

.about-section-two {
    position: relative;
    padding: 120px 0 70px;

    .content-column {
        position: relative;
        margin-bottom: 50px;
        z-index: 1;

        .inner-column {
            position: relative;
        }

        .sec-title {
            h2 {
                text-transform: uppercase;
                letter-spacing: .02em;
            }

            .text {
                margin-top: 40px;
            }
        }
    }
}

.about-block-two {
    position: relative;
    margin-bottom: 40px;

    .title {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        i {
            position: relative;
            margin-right: 10px;
            font-size: 14px;
            color: var(--bg-theme-color2);
        }
    }

    .text {
        margin-bottom: 0;
    }
}

.about-info-box {
    display: flex;
    align-items: center;
    background: var(--bg-theme-color1);
    margin-top: 70px;

    .content {
        position: relative;
        padding: 20px 40px;
    }

    .title {
        display: block;
        font-size: 14px;
        color: #b1bec5;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .02em;
        margin-bottom: 8px;
    }

    .number {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        font-family: var(--title-font);
        letter-spacing: .04em;
        transition: all 300ms ease;
    }

    .icon {
        @include flex-center;
        height: 120px;
        width: 135px;
        color: var(--theme-color1);
        background: var(--bg-theme-color2);
        font-size: 62px;
        line-height: 1em;
        transition: all 300ms ease;
    }

    &:hover {
        .icon {
            color: #fff;
        }

        .number {
            color: var(--theme-color2)
        }
    }
}

.about-section-two .image-column {
    position: relative;
    margin-bottom: 50px;

    .inner-column {
        position: relative;
        display: flex;
        height: 100%;
        padding-right: 30px;
    }

    .experience {
        position: absolute;
        left: -85px;
        top: 50px;
        height: 170px;
        width: 170px;
        background-color: var(--bg-theme-color2);
        color: var(--theme-color1);
        border-radius: 50%;
        @include flex-center;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        text-align: center;
        padding: 20px 30px;
        text-transform: uppercase;
    }

    .image-1 {
        position: relative;
        margin-right: 10px;
        margin-bottom: 0;

        img {
            min-width: 320px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .image-2 {
        position: relative;
        margin-bottom: 0;

        img {
            max-width: 290px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/*** 

====================================================================
		About Section Three
====================================================================

***/

.about-section-three {
    position: relative;
    padding: 120px 0 70px;

    &:before {
        position: absolute;
        left: -210px;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: url(../images/icons/pattern-7.png);
        background-repeat: no-repeat;
        background-position: center left;
        content: "";
    }

    .content-column {
        position: relative;
        margin-bottom: 50px;
        z-index: 1;

        .inner-column {
            position: relative;
        }

        .sec-title {
            margin-bottom: 35px;

            h5 {
                color: var(--theme-color2);
                margin-top: 30px;
                font-weight: 500;
                margin-bottom: 0;
            }

            .text {
                margin-top: 40px;
            }
        }

        .content-box {
            max-width: 470px;
        }
    }

    .image-column {
        position: relative;
        margin-bottom: 50px;

        .inner-column {
            position: relative;
            display: flex;
            justify-content: flex-end;

            &:before {
                position: absolute;
                left: -20px;
                top: 190px;
                height: 380px;
                width: 380px;
                background-color: var(--bg-theme-color2);
                content: "";
                border-radius: 50%;
            }
        }

        .image-1 {
            position: relative;
            max-width: 460px;

            &:before {
                position: absolute;
                left: -50px;
                top: 0;
                height: 110px;
                width: 20px;
                background-color: var(--bg-theme-color2);
                animation: zoom-one 3s infinite;
                content: "";
            }

            img {
                width: 100%;
            }
        }

        .image-2 {
            position: absolute;
            left: -80px;
            bottom: 0;
            border: 10px solid #fff;
            box-shadow: 0 10px 60px rgba(0, 0, 0, .10);
            max-width: 400px;
        }
    }

    .about-info-box {
        margin-top: 0;
    }
}

.about-block-three {
    position: relative;
    margin-bottom: 30px;

    .title {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        i {
            position: relative;
            margin-right: 10px;
            font-size: 14px;
            color: var(--theme-color2);
        }
    }

    .text {
        margin-bottom: 0;
    }
}

/*================================
    Progress Bar
=================================*/

.skills {
    position: relative;
    margin-bottom: 50px;

    .skill-item {
        position: relative;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0px;
        }

        .skill-header {
            position: relative;
            margin-bottom: 0px;

            .skill-title {
                font-weight: 700;
                margin-bottom: 10px;
            }
        }

        .skill-bar {
            position: relative;
            width: 100%;
            height: 13px;
            border-radius: 5px;

            .bar-inner {
                position: relative;
                width: 100%;
                height: 13px;
                background: #f4f5f8;
                border-radius: 10px;

                .bar {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    height: 13px;
                    width: 0px;
                    transition: all 3000ms ease;
                    border-radius: 10px;
                    background-color: var(--bg-theme-color1);
                }

                .skill-percentage {
                    position: absolute;
                    right: 0;
                    bottom: 100%;
                    font-size: 16px;
                    font-weight: 400;
                    color: #767676;
                    line-height: 25px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/*** 

====================================================================
		About Section Four
====================================================================

***/

.about-section-four {
    position: relative;
    padding: 120px 0 70px;

    .float-text {
        position: absolute;
        left: -30px;
        top: 0;
        font-size: 70px;
        color: #f4f5f8;
        line-height: 1em;
        letter-spacing: 0.6em;
        text-transform: uppercase;
        transform: rotate(90deg);
        transform-origin: left top;
    }

    &:before {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: url(../images/icons/shape-4.jpg);
        background-repeat: no-repeat;
        background-position: center right;
        content: "";
    }

    .content-column {
        position: relative;
        margin-bottom: 50px;
        z-index: 1;

        .inner-column {
            position: relative;
            padding-left: 65px;
        }

        .blockquote-style-one {
            margin-bottom: 50px;
        }

        .btn-box {
            position: relative;

            .theme-btn {
                margin-right: 20px;
            }
        }
    }

    .image-column {
        position: relative;
        margin-bottom: 50px;

        .inner-column {
            position: relative;
            display: flex;
            align-items: flex-start;
        }

        .icon-box {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .image-1 {
            position: relative;
            margin-right: 30px;
            margin-bottom: 0;
        }

        .image-2 {
            position: relative;
            margin-bottom: 0;
            padding-bottom: 40px;

            &:before {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 10px;
                background-color: var(--bg-theme-color1);
                content: "";
            }

            ;
        }
    }
}

.blockquote-style-one {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    color: var(--theme-color1);
    background-color: #ffffff;
    box-shadow: 0 10px 60px rgba(0, 0, 0, .07);
    padding: 20px 40px;
    border-left: 4px solid var(--border-theme-color2);
}

.founder-info {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 64px;
    min-height: 54px;

    .thumb {
        position: absolute;
        left: 0;
        top: 0;
        height: 54px;
        width: 54px;
        background-color: #fff;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid var(--bg-theme-color2);

        img {
            border-radius: 50%;
        }
    }

    .name {
        font-size: 16px;
        line-height: 24px;
        color: var(--bg-theme-color1);
        font-weight: 700;
        margin-bottom: 0;
    }

    .designation {
        font-size: 12px;
        line-height: 1em;
        color: #808287;
        font-weight: 400;
        margin-top: 2px;
        display: block;
        text-transform: uppercase;
    }
}

/*** 

====================================================================
		About Section Five
====================================================================

***/

.about-section-five {
    position: relative;
    padding: 120px 0 70px;

    &:before {
        position: absolute;
        left: -210px;
        top: -390px;
        height: 100%;
        width: 100%;
        background-image: url(../images/icons/pattern-7.png);
        background-repeat: no-repeat;
        background-position: center left;
        content: "";
    }

    .content-column {
        position: relative;
        margin-bottom: 50px;
        z-index: 1;

        .inner-column {
            position: relative;

            .list-style-three {
                margin-bottom: 50px;
                border-bottom: 1px solid #e6e8ed;
                padding-bottom: 30px;
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 50%;
                    padding-right: 20px;
                }
            }
        }

        .btn-box {
            position: relative;

            .theme-btn {
                margin-right: 20px;
            }

            .info-btn {
                position: relative;
                display: block;
                font-size: 14px;
                padding: 8px 0;
                padding-left: 60px;
                color: var(--theme-color1);
                text-align: left;
                font-weight: 600;
                line-height: 20px;

                small {
                    font-size: 12px;
                    font-weight: 400;
                    color: #808287;
                }

                i {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -25px;
                    line-height: 50px;
                    height: 50px;
                    width: 50px;
                    text-align: center;
                    border-radius: 50%;
                    color: var(--theme-color2);
                    background-color: var(--bg-theme-color3);
                    font-size: 18px;
                }

                &:hover {
                    color: var(--theme-color2);
                }
            }
        }
    }

    .image-column {
        position: relative;
        margin-bottom: 50px;
        z-index: 1;

        .inner-column {
            position: relative;
            display: flex;

            &:before {
                position: absolute;
                top: 80px;
                left: -150px;
                height: 380px;
                width: 380px;
                border-radius: 50%;
                border: 50px solid var(--border-theme-color2);
                animation: zoom-one 5s infinite linear;
                content: "";
            }
        }

        .image-1 {
            position: relative;
            margin-bottom: 0;
        }

        .image-2 {
            position: absolute;
            right: 88px;
            top: 60px;
            border: 10px solid #ffffff;
            box-shadow: 0 10px 60px rgba(0, 0, 0, .08);
            max-width: 300px;
        }
    }

    .image-box {
        position: relative;
        display: inline-block;

        &:after {
            position: absolute;
            left: -70px;
            top: 75px;
            width: 203px;
            height: 200px;
            background-image: url(../images/icons/icon-dots-2.png);
            content: "";
        }

        .image {
            position: relative;
            padding-top: 30px;
            padding-right: 30px;
            z-index: 1;
            margin-bottom: 0;

            &:before {
                position: absolute;
                right: 0px;
                top: 0px;
                width: 180px;
                height: 166px;
                border: 4px solid var(--border-theme-color2);
                content: "";
            }

            img {
                position: relative;
                max-width: 100%;
                z-index: 3;
            }
        }

        .experience {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 170px;
            width: 205px;
            padding: 85px 18px 20px;
            overflow: hidden;
            z-index: 2;

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                width: 200%;
                height: 100%;
                background-color: var(--bg-theme-color2);
                border-top: 15px solid #ffffff;
                content: "";
                transform: rotate(42deg);
                transform-origin: left top;
            }

            strong {
                position: relative;
                font-size: 26px;
                line-height: 1em;
                font-weight: 700;
                font-family: var(--title-font);
            }

            .text {
                position: relative;
                top: -2px;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: .02em;
                font-weight: 500;
                color: var(--theme-color1);
            }
        }
    }

    &.style-two {
        &::before {
            position: absolute;
            left: auto;
            right: -240px;
            top: -40px;
            transform: scaleX(-1);
            content: "";
        }

        .sec-title {
            margin-bottom: 30px;
        }

        .content-column {
            .inner-column {
                padding-left: 70px;

                .list-style-three {
                    li {
                        font-size: 18px;

                        &:before {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .image-column {
            .inner-column:before {
                display: none;
            }
        }
    }
}


/*** 

====================================================================
    About Section Six
====================================================================

***/

.about-section-six {
    position: relative;
    padding: 120px 0 70px;

    &:before {
        position: absolute;
        right: -240px;
        top: -40px;
        height: 100%;
        width: 100%;
        background-image: url(../images/icons/pattern-7.png);
        background-repeat: no-repeat;
        background-position: center left;
        transform: scaleX(-1);
        content: "";
    }

    .content-column {
        position: relative;
        margin-bottom: 50px;
        z-index: 1;

        .inner-column {
            position: relative;

            .sec-title {
                margin-bottom: 40px;
            }

            .content-box {
                position: relative;
            }

            .list-style-three li {
                font-size: 18px;

                &:before {
                    font-size: 16px;
                }
            }
        }

        .btm-box {
            margin-top: 45px;
        }
    }

    .image-column {
        position: relative;
        margin-bottom: 50px;

        .inner-column {
            position: relative;
            padding-right: 55px;
        }

        .image-box {
            position: relative;
            padding-top: 70px;

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 200px;
                background-color: var(--bg-theme-color1);
                content: "";
            }

            &:after {
                position: absolute;
                left: 100px;
                top: 40px;
                height: 260px;
                width: 260px;
                background-color: #ffffff;
                content: "";
                border-radius: 50%;
            }

            .image {
                position: relative;
                max-width: 390px;
                margin: 0 auto;
                z-index: 2;

                img {
                    width: 100%;
                }
            }
        }
    }
}

/* About Block */
.about-block-four {
    position: relative;
    padding-left: 105px;
    min-height: 85px;
    margin-bottom: 30px;

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .icon {
        @include absolute;
        @include flex-center;
        height: 85px;
        width: 85px;
        background-color: var(--bg-theme-color2);
        font-size: 48px;
        border-radius: 50%;
        color: var(--theme-color1);
        transition: all 300ms ease;
    }

    &:hover .icon {
        background-color: var(--bg-theme-color1);
        color: var(--theme-color2);
        transform: rotate(180deg) scale(-1);
    }

    .title {
        position: relative;
        top: -3px;
        margin-bottom: 0px;
    }

    .text {
        margin-top: 5px;
    }
}

.about-section-six .experience {
    position: absolute;
    right: 25px;
    bottom: 30px;
    display: flex;
    align-items: center;
    min-width: 240px;
    padding: 25px 40px;
    background: #ffffff;
    color: var(--theme-color1);
    box-shadow: 0 10px 60px rgba(0, 0, 0, .10);
    min-height: 105px;
    z-index: 3;

    strong {
        position: relative;
        font-size: 60px;
        color: var(--theme-color1);
        font-weight: 700;
        display: block;
        margin-right: 20px;
        font-family: var(--title-font);
    }

    .text {
        font-size: 14px;
        line-height: normal;
        color: #808287;
    }
}

.about-section-six .completed-projects {
    position: absolute;
    right: 0;
    top: 140px;
    z-index: 3;

    strong {
        position: relative;
        font-size: 72px;
        line-height: 1em;
        color: var(--theme-color2);
        font-weight: 700;
        display: block;
        font-family: var(--title-font);
    }

    .text {
        font-size: 18px;
        color: var(--theme-color1);
        font-weight: 500;
        letter-spacing: 0.1em;
        transform: rotate(-90deg);
        transform-origin: right top;
        right: 30px;
        position: absolute;
        top: 80px;
        white-space: nowrap;
    }
}